body{
	width:100%;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}
html{
	width:100%;
	height:100%;
	
}
.biglogo{
height:200px;
width:200px;
margin-left:auto;
margin-right:auto;
display:block;
}
.empty{
	height:50px;
	width:1289px;
	color:white;
}
.slogan{
	font-family:"sofia";
	text-align: center;
	font-size: 30px;
	font-weight:bold;
}
/*for the title*/
.intro{
text-align: center;
color:black;
font-family: "Aclonica";
font-size: 100px;
}

nav {
  overflow: hidden;
  background-color: #AFD275;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #9ebc6b;
  color: black;
}

nav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .button {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    background-color: #AFD275;
    font-family: inherit;
    margin: 0;
}

.content {
    display: none;
    position: absolute;
    background-color: #b0e05c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav a:hover, .dropdown:hover .button {
  background-color: white;
  color: black;
}

.content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .content {
    display: block;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child), .dropdown .button {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  nav.responsive .dropdown {float: none;}
  nav.responsive .content {position: relative;}
  nav.responsive .dropdown .button {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*for the search bar*/
nav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border: 1px solid grey;
}
/*for the top thing*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #AFD275;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: white;
  color:black;
}

/*for the title (africa)*/
.title{
	font-size:80px;
	color:black;
	text-align:center;
}
.information{
	font-size:15px;
	font-weight:300;
	line-height:1.625;
	color:black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	font-family:"Amethysta";
}
.huge{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	height:auto;
}
/*for the icons*/
.icon1:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url('icons/place.png');
  
}
.icon1 li{
  display: inline-block;
  font-size:20px;  
  position:relative;
  text-align: center;
  vertical-align:middle;
  color:black;
  padding-bottom:30px;
}
.icon2:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url('icons/money.png');
  
}
.icon2 li{
  display: inline-block;
  font-size:20px;  
  position:relative;
  text-align: center;
  vertical-align:middle;
  color:black;
  padding-bottom:30px;
}
.icon3:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url('icons/tip.png');
  
}
.icon3 li{
  display: inline-block;
  font-size:20px;  
  position:relative;
  text-align: center;
  vertical-align:middle;
  color:black;
  padding-bottom:30px;
}
.icon4:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url('icons/important.png');
  
}
.icon4 li{
  display: inline-block;
  font-size:20px;  
  position:relative;
  text-align: center;
  vertical-align:middle;
  color:black;
  padding-bottom:30px;
}
.icon5:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url('icons/guide.png');
  
}
.icon5 li{
  display: inline-block;
  font-size:20px;  
  position:relative;
  text-align: center;
  vertical-align:middle;
  color:black;
  padding-bottom:30px;
}

/*for the 5 places thing*/
h2{
	margin-top: 60px;
	width:100%;
	display:table;
	border-bottom:2px solid black;
	font-weight:300;
	line-height:1.625;
	color:black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	font-family:"Amethysta";
}
.empty{
	height:50px;
	width:1289px;
	color:white;
}
.whole{
	height:1400px;
	width:1289px;
	color:white;
}
.container1{
	background-color:white;
	width:50%;
	height: 400px;
	float:left;
	margin:0;
	padding-top:50px;	
}


.post{
	width:90%;
	height:400px;
	position:relative;
	cursor:pointer;
	float:left;
}

.post:hover .post-s{
	width:90%;
}
.polar{
	display:block;
	width:90%;
	height:400px;
}
.post-s{
	width:0px;
	height:400px;
	background:black;
	position:absolute;
	top:0;
	display:flex;
	overflow:hidden;
	transition:0.7s ease;
	opacity:0.7;
}
.post-s a{
	color:white;
	font-size:20px;
	font-family:"intro";
	text-align:center;
}
.post h1{
	position: absolute;
	bottom:0;
	text-align: center;
	left: 0;
	right:0;
	color: white;
	font-weight:300;
	line-height:1.625;
	font-family:"Amethysta";
}
/*travelling tip*/
ol{
	-webkit-columns:2;
	columns:2;
	list-style-type:decimal;
	font-size: 20px;
	font-weight:300;
	line-height:1.625;
	color:black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	font-family:"Amethysta";
	column-gap:47px;
}
p{
	font-size: 20px;
	font-weight:300;
	line-height:1.625;
	color:black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	font-family:"Amethysta";
}

/*for the guide part*/
td{
	font-size:18px;
	font-weight:300;
	line-height:1.625;
	color:black;   
	font-family:"Amethysta";
}
.data{
	width:35%;
}
.image{
	width:15%;
}
table{
	border-collapse:collapse;
	width:100%;
}
tr img{
	width:100%;
	height: auto;
}


/*for the footer*/
footer{
	background-image: url("images/night.jpg");
	background-size: 100% auto;
	height:550px;
	width:100%;
	float:left;
	background-repeat:no-repeat;
}
.footer1{
	width:25%;
	height:500px;
	float:left;
	text-align:center;
}
.footer2{
	width:25%;
	height:500px;
	float:left;
	text-align:center;
}
.footer3{
	width:25%;
	height:500px;
	float:left;
	text-align:center;
}
.footer4{
	width:25%;
	height:500px;
    float:left;
	text-align:center;
}

a{
	font-size:20px;
	font-family:"intro";
	color: white;
	text-align:center;
	text-decoration:none;
}
.h2{
	font-size:40px;
	font-family:"intro";
	color: white;
	text-align:center;
}
footer a:hover{
	color:red;
}
footer .h2:hover{
	color:red;
}
ul{
	list-style-type:none;
}
footer p{
	color:white;
	font-family:'intro';
	text-align:center;
	font-size: 30px;
}









@media screen and (max-width:1250px){
	table{
		width:100%;
	}
	footer{
		height:auto;
		background-size: 1300px auto;
	}
	.post-s a{
		font-size: 12px;
		text-align: justify;
	}
	.h2{
	font-size:20px;
	font-weight: bold;
	text-decoration: underline;
	}
		.post:hover .post-s{
	width:100%;
	}
	.polar{
	display:block;
	width:100%;
	height:400px;
	}
}